<%= form_for User.new, as: :session, url: session_path, builder: ::FormBuilder do |form| %>

  <%= hidden_field_tag :referer, request.env["HTTP_REFERER"] %>

  <%= form.form_field :email_field, :email, "Email" %>

  <%= form.form_field :password_field, :password, "Password" %>

  <div class="form_field">
    <%= form.submit("Sign in", class: "btn btn-save") %>
  </div>

  <div class="other-links">
    <%= link_to t(".forgot_password"), new_password_path %>
  </div>
<% end %>
