<div class="box col-6 center">
  <h2 class="box-title">Login</h2>
  <%= form_tag sessions_path do %>
    <div class="form_field">
      <%= label_tag(:username, "Username") %>
      <%= text_field_tag(:username) %>
      <%= label_tag(:password, "Password") %>
      <%= password_field_tag(:password) %>
    </div>
    <%= submit_tag("Log in", class: "btn btn-save") %>
  <% end %>
</div>
