<% provide :title, "Admin - #{@event.name}" %>

<%= render partial: "shared/breadcrumbs", locals:{ admin: "Admin", event: @event } %>

<h1 class="page-title"><span class="page-title-firstword">Details</span> for <%= @event.name %></h1>

<section class="box">
  <h2 class="box-title">
    Distributed tickets: <%= @event.approved_tickets %>
  </h2>
  <%= form_for @event, url: event_path(@event), builder: ::FormBuilder do |f| %>
    <%= f.form_field :text_field, :approved_tickets, 'Edit total of approved tickets:' %>
    <%= f.submit("Save", class: "btn btn-save") %>
  <% end %>
</section>

<% unless @event.application_process == "application_by_organizer" %>
<section class="box">
  <h2 class="box-title">Applications</h2>
  <%= pluralize_highlight_count(@event.applications.submitted.count, "application") %> currently
  <br>
  <%= pluralize_highlight_count(@event.applications.drafts.count, "draft") %> currently
</section>
<% if @event.applications.submitted.any? %>
    <% @categorized_applications.each do |heading, applications| %>

      <div class="box">
        <h2><%= heading %> (<%= applications.count %>)</h2>

        <div class="admin">
          <ul class="admin-list">
            <% applications.each do |application| %>
              <li>
                <p class="event-name">
                  <span class="conflogo--small"><%= event_image application.event %></span>
                  <%= link_to application.name,
                    admin_event_application_path(id: application.id, event_id: application.event_id),
                    title: application.event.name %>
                </p>
                <p>
                  <% unless @event.application_process == "selection_by_organizer" %>
                    <% if (application.status == "approved") || (application.status == "rejected") %>
                      <%= link_to revert_admin_event_application_path(application.event_id, application.id),
                        method: :post, class: "btn btn-edit revert-application",
                        title: "revert" do %>
                        Revert
                      <% end %>
                    <% else %>
                      <%= link_to approve_admin_event_application_path(application.event_id, application.id),
                        method: :post, class: "btn btn-save approve-application",
                        title: "approve" do %>
                        Approve
                      <% end %>

                      <%= link_to reject_admin_event_application_path(application.event_id, application.id),
                        method: :post, class: "btn btn-external reject-application",
                        title: "reject" do %>
                        Reject
                      <% end %>
                    <% end %>
                  <% end %>

                  <%= link_to admin_event_application_path(application.id, application.event_id), method: :delete,
                    data: {confirm: "Are you sure"}, class: "btn btn-delete delete-application", title: "delete" do %>
                    Delete
                  <% end %>
                </p>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>

<div class="two-columns">
  <section class="box">
    <h2 class="box-title"><%=t(".organizer_details")%></h2>
    <div class="detail-pair">
      <strong>Organizer Name</strong>
      <%= @event.organizer_name %>
    </div>
    <div class="detail-pair">
      <strong>Organizer Email</strong>
      <%= @event.organizer_email %>
    </div>
  </section>

  <%= render partial: "events/event" %>

  <div class="box form_field">
    <%= link_to "Delete event", event_path(@event.id), method: :delete,
        data: {confirm: "Are you sure?"}, class: "btn btn-delete" %>
    <%= link_to "Edit event", edit_event_path(@event.id), class: "btn btn-edit" %>
    <% if @event.approved? %>
      <%= download_csv_link(@event) %>
    <% else %>
      <span class="approve-button">
        <%= form_for :approve,
            url: approve_admin_event_path(@event),
            html: { method: :post } do |form| %>
        <%= form.submit("Approve", class: "btn btn-save", title:"approve") %>
          <span>
            <%= form.check_box :tweet, checked: true %>
            <span class="icon-twitter" aria-label="twitter icon"></span>
            Tweet event
          </span>
       </span>
      <% end %>
    <% end %>
  </div>
</div>
