<div class="box">
  <h2>Statistics</h2>
    <ul class="admin-list">
      <li>Total conferences: <strong><%= @events.count %></strong></li>
      <li>Conferences since <%= Time.zone.now.year %>: <strong><%= @events.created_current_year.count %></strong></li>
      <li class="border">New users in the last 30 days: <strong><%= @new_users.count %></strong></li>
    </ul>
    <ul class="admin-list">
      <li>
        Most conferences:
        <strong>
          <ol>
            <% for index in 1..@countries.length%>
            <% break if index > 3 %>
            <li><%= index %>. <%=@events.country_with_most_events(index) %> (<%= @events.number_of_events_per_country(index)%>)</li>
          <% end %>
          </ol>
        </strong>
      </li>
    </ul>
    <div class="map-statistics" id="map-statistics">
      <span class="map-expander-btn" id="map-expander-btn">
        <%= t('.show_statistics_map') %>
        <i class="icon-sort-down-black" id="icon-map-expander"></i>
      </span>
        <div class="map-statistics-content">
          <div class="map-legend">
             <span>&nbsp;</span>
             <%=t('.countries_hosted_events') %>
          </div>
           <div id="map_events" style="position: relative; width: 100%; height: 600px;"></div>
           <%= javascript_tag "new CustomizedMap(#{@countries_statistics});" %>
          </div>
        </div>
</div>
