<h1>Admin Page</h1>

<% @categorized_events.each do |heading, events| %>
  <div class="box">
    <h2><%= heading %></h2>

    <div class="admin">
      <ul class="admin-list">
        <% events.each do |event| %>
          <li>
            <p class="event-name">
              <span class="conflogo--small"><%= event_image event %></span>
              <%= link_to event.name, event_admin_path(id: event.id), title: event.name %>
            </p>
            <p class="application-process">
              <%= event.application_process.humanize %>
            </p>
            <p class="application-deadline">
              <%= format_date(event.deadline) %>
            </p>
            <p>
              <%= link_to approve_admin_event_path(event, event.approved ? 'Unapprove' : 'Approve'),
                  method: :post, class: "icon tooltip-large",
                  title: event.approved ? 'unapprove' : 'approve' do %>
                <% if event.approved %>
                  <span class="icon-unapprove" aria-label="unapprove icon"></span>
                <% else %>
                  <span class="icon-approve" aria-label="approve icon"></span>
                <% end %>
              <% end %>

              <%= link_to edit_event_path(id: event.id), class: "icon tooltip", title: "edit" do %>
                <span class="icon-edit" aria-label="edit icon"></span>
              <% end %>

              <%= link_to url_for(action: :destroy, id: event.id), method: :delete,
                  data: { confirm: "Are you sure?"}, class: "icon tooltip", title: "delete" do %>
                <span class="icon-delete" aria-label="trashcan icon"></span>
              <% end %>
            </p>
            <p>
              <%= link_to 'Download CSV', event_admin_path(id: event.id, format: :csv),
                  class: "btn btn-save", title: "Download data" %>
            </p>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
