<h1>Admin page</h1>

<div class="box">
  <h2>Statistics</h2>
    <ul class="admin-list">
      <li>Total conferences: <strong><%= @events.count %></strong></li>
      <li>Conferences since <%= Time.zone.now.year %>: <strong><%= @events.created_current_year.count %></strong></li>
      <li class="border">New users in the last 30 days: <strong><%= @new_users.count %></strong></li>
    </ul>
    <div id="map_events" style="position: relative; width: 100%; height: 600px;"></div>
    <%= javascript_tag "new CustomizedMap(#{@countries_codes.to_json});" %>
</div>

<p>
  <%= link_to 'Download events report', admin_path(format: :csv),
    class: "btn btn-save", title: "Download events report" %>

  <%= link_to 'Download annual events report', admin_annual_path(format: :csv),
    class: "btn btn-save", title: "Download annual events report" %>
</p>

<% @categorized_events.each do |heading, events| %>
  <div class="box">
    <h2><%= heading %></h2>

    <div class="admin">
      <ul class="admin-list">
        <% if events.empty? %>
        <p> We currently don't have any events to approve </p>
        </ul>
        <% elsif heading == "Approved events" %>
          <% @approved_events_deadline.each do |heading, events| %>
            <% unless events.empty? %>
              <div class="box">
                <h3><%= heading %></h3>
                <% events.each do |event| %>
                <li>
                  <p class="event-name">
                    <span class="conflogo--small"><%= event_image event %></span>
                    <%= link_to event.name, event_admin_path(id: event.id), title: event.name %>
                  </p>
                  <p class="application-process">
                    <%= event.application_process.humanize %>
                  </p>
                  <p class="application-deadline">
                    <%= format_date(event.deadline) %>
                  </p>

                  <div class="admin-buttons">

                    <%= link_to approve_admin_event_path(event, 'Unapprove'),
                        method: :post, class: "icon tooltip-large",
                        title: 'unapprove' do %>
                        <span class="icon-unapprove" aria-label="unapprove icon"></span>
                      <% end %>

                    <%= link_to edit_event_path(id: event.id), class: "icon tooltip", title: "edit" do %>
                      <span class="icon-edit" aria-label="edit icon"></span>
                    <% end %>

                    <%= link_to url_for(action: :destroy, id: event.id), method: :delete,
                        data: { confirm: "Are you sure?"}, class: "icon tooltip", title: "delete" do %>
                      <span class="icon-delete" aria-label="trashcan icon"></span>
                    <% end %>
                  </div>
                  <p>
                    <%= link_to 'Download CSV', event_admin_path(id: event.id, format: :csv),
                        class: "btn btn-save", title: "Download data" %>
                  </p>
                </li>
                <% end %>
              </div>
            <% end %>
          <% end %>
        <% else %>
        <% events.each do |event| %>
          <li>
            <p class="event-name">
              <span class="conflogo--small"><%= event_image event %></span>
              <%= link_to event.name, event_admin_path(id: event.id), title: event.name %>
            </p>
            <p class="application-process">
              <%= event.application_process.humanize %>
            </p>
            <p class="application-deadline">
              <%= format_date(event.deadline) %>
            </p>

            <div class="admin-buttons">
              <% if event.unapproved %>
                <%= form_for :approve,
                      url: approve_admin_event_path(event, 'Approve'),
                      html: { method: :post } do |form| %>
                    <span>
                      <span class="icon tooltip" title="tweet">
                      <%= form.check_box :tweet, checked: true %></span>
                      <span class="icon-twitter icon tooltip" aria-label="twitter icon"></span>
                      <span class="icon tooltip" title="approve">
                      <%= form.submit(class: "icon-approve", title: "approve") %></span>
                    <% end %>
              <% else %>
                <%= link_to approve_admin_event_path(event, 'Unapprove'),
                    method: :post, class: "icon tooltip-large",
                    title: 'unapprove' do %>
                    <span class="icon-unapprove" aria-label="unapprove icon"></span>
                  <% end %>
              <% end %>

              <%= link_to edit_event_path(id: event.id), class: "icon tooltip", title: "edit" do %>
                <span class="icon-edit" aria-label="edit icon"></span>
              <% end %>

              <%= link_to url_for(action: :destroy, id: event.id), method: :delete,
                  data: { confirm: "Are you sure?"}, class: "icon tooltip", title: "delete" do %>
                <span class="icon-delete" aria-label="trashcan icon"></span>
              <% end %>
            </div>
            <p>
              <% if event.approved %>
              <%= link_to 'Download CSV', event_admin_path(id: event.id, format: :csv),
                  class: "btn btn-save", title: "Download data" %>
              <% end %>
            </p>
          </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
