<p class="breadcrumb"><%= link_to t('.home-link'), root_path %> > <%= link_to t('.events-link'), events_path %> > <%= link_to @event.name, event_path(@event) %> ><%= t('.application-for', event_name: @event.name) %></p>

<h2><%= t(".title") %></h2>
<section class="box">
  <h3><%=t('.benefits-of-account-title') %></h3>
  <p>
    <%= raw t('.benefits-of-account') %>
    <strong>
      <%= t('.guest-warning') %>
    </strong>
  </p>
</section>
<%= link_to t('.sign-me-in'), sign_in_path, class: "btn btn-save" %>
<%= link_to t('.create-an-account'), sign_up_path(@event.id), class: "btn btn-save" %>
<%= link_to t('.continue-as-guest'), new_event_application_path(@event.id, guest: @guest), class: "btn btn-edit" %>
