<p class="breadcrumb"><%= link_to t('.home_link'), root_path %> > <%= link_to t('.events_link'), events_path %> > <%= link_to @event.name, event_path(@event) %> ><%= t('.application_for', event_name: @event.name) %></p>

<h2><%= t(".title") %></h2>
<section class="box">
  <h3><%=t('.benefits_of_account_title') %></h3>
  <p>
    <%= raw t('.benefits_of_account') %>
    <strong>
      <%= t('.guest_warning') %>
    </strong>
  </p>
</section>
<%= link_to t('.sign_me_in'), sign_in_path, class: "btn btn-save" %>
<%= link_to t('.create_an_account'), sign_up_event_path(@event.id), class: "btn btn-save" %>
<%= link_to t('.continue_as_guest'), new_event_application_path(@event.id, guest: @guest), class: "btn btn-edit" %>
