<% provide :title, t('.title') %>

<%= render partial: "shared/breadcrumbs", locals:{ events: t('.events_link'), event: @event, application_for: t('.application_for', event_name: @event.name) } %>

<h2><%= t(".title") %></h2>
<section class="box">
  <h3><%=t('.benefits_of_account_title') %></h3>
  <p>
    <%= raw t('.benefits_of_account') %>
    <strong>
      <%= t('.guest_warning') %>
    </strong>
  </p>
</section>
<%= link_to t('.sign_me_in'), sign_in_path, class: "btn btn-save" %>
<%= link_to t('.create_an_account'), sign_up_event_path(event_id: @event.id), class: "btn btn-save" %>
<%= link_to t('.continue_as_guest'), new_event_application_path(event_id: @event.id, guest: @guest), class: "btn btn-edit" %>
