<% provide :title, t('.title') %>

<%= form_for @application, url: event_application_path(params[:event_id], @application.id), builder: ::FormBuilder do |f| %>

  <% if @application.errors.any? %>
    <div class="error">
      <p><%= pluralize(@application.errors.count, "error") %> stopped this application from being saved:</p>
      <ul>
        <% @application.errors.messages.each do |field, messages| %>
          <li><%= @application.class.human_attribute_name(field) %> <%= join_messages(messages) %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <section class="box">
    <h2 class="box-title"><%=t('.please_fill')%></h2>
    <%= f.form_field :text_area, :attendee_info_1, t('.attendee_info_1', event_name: @event.name) %>
    <%= f.form_field :text_area, :attendee_info_2, t('.attendee_info_2')%>
    <% if current_user %>
      <div class="form_field">
        <%= f.form_field :text_field, :name, t('.name'), value: current_user.name %>
        <%= f.form_field :text_field, :email, t('.email'), value: current_user.email %>
      </div>
    <% else %>
      <%= f.form_field :text_field, :name, t('.name') %>
      <%= f.form_field :text_field, :email, t('.email') %>
    <% end %>
    <%= f.form_field :text_field, :email_confirmation, t('.email_confirmation')%>

    <% if @event.travel_funded? %>
      <div class="form_field">
        <%= label_tag do %>
        <%= f.check_box :visa_needed %>
          <%= t('.visa_needed') %>
        <% end %>
      </div>
    <% end %>

    <div class="form_field--check">
      <%= label_tag do %>
      <%= f.check_box :terms_and_conditions, checked: false %>
      <span class="check-label"><%=t('.agree_terms_and_conditions') %></span>
      <% end %>
      <p id="terms-and-conditions">
        <%= t('.terms_and_conditions_1') %>
      </p>
      <ul>
        <% if @event.ticket_funded? %>
          <li><%= t('.terms_and_conditions_2') %></li>
        <% end %>
        <% if @event.travel_funded? %>
          <li><%= t('.terms_and_conditions_3') %></li>
        <% end %>
        <% if @event.accommodation_funded? %>
          <li><%= t('.terms_and_conditions_4') %></li>
        <% end %>
        <%=raw t('.terms_and_conditions_5') %>
      </ul>
      <% if @event.travel_funded? %>
        <p><%= t('.terms_and_conditions_6') %></p>
      <% end %>
      <p><%= t('.terms_and_conditions_7', event: @event.name, href: link_to(t('.code_of_conduct'), @event.code_of_conduct)).html_safe %></p>
    </div>
  </section>

  <div class="form_field">
    <%= link_to t('.back'), event_application_path(@event.id, @application.id), class: "btn btn-edit" %>
    <%= f.submit(t('.apply_changes'), class: "btn btn-save") %>
  </div>
<% end %>
