<% provide :title, t('applications.new_application') %>

<p class="breadcrumb"><%= link_to 'Home', root_path %> > <%= link_to 'Events', events_path %> > <%= link_to @event.name, event_path(@event) %> > Application</p>

<h1 class="page-title"><span class="page-title-firstword">Application for</span> <%= @event.name %></h1>

<%= render partial: "events/application_details" %>

<%= render partial: "form" %>
