<p class="breadcrumb"><%= link_to 'Home', root_path %> > <%= link_to 'Events', events_path %> > <%= link_to @event.name, event_path(@event) %> > Application</p>

<h1 class="page-title"><span class="page-title-firstword">Application for</span> <%= @event.name %></h1>

<%= render partial: "events/application_details" %>

<%= form_for @application, url: event_applications_path(params[:event_id]), builder: ::FormBuilder do |f| %>

  <% if @application.errors.any? %>
    <div class="error">
      <p><%= pluralize(@application.errors.count, "error") %> stopped this application from being saved:</p>
      <ul>
        <% @application.errors.messages.each do |field, messages| %>
          <li><%= @application.class.human_attribute_name(field) %> <%= join_messages(messages) %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <section class="box">
    <h2 class="box-title">Please fill out this form. Fields marked with * are required.</h2>
    <%= f.form_field :text_area, :attendee_info_1, "Why do you want to attend #{@event.name} and what especially do you look forward to learning?" %>
    <%= f.form_field :text_area, :attendee_info_2, "Please share with us why you're applying for a diversity ticket. (1-2 sentences is enough, please only share what you're comfortable with)" %>
    <%= f.form_field :text_field, :name, 'Name' %>
    <%= f.form_field :text_field, :email, 'Email' %>
    <%= f.form_field :text_field, :email_confirmation, 'Email Confirmation' %>

    <% if @event.travel_funded? %>
      <div class="form_field">
        <%= label_tag do %>
        <%= f.check_box :visa_needed %>
          I will need a visa to attend
        <% end %>
      </div>
    <% end %>

    <div class="form_field--check">
      <%= label_tag do %>
      <%= f.check_box :terms_and_conditions %>
      <span class="check-label">I agree with the following Terms and Conditions</span>
      <% end %>
      <p id="terms-and-conditions">
        This diversity program is aimed to help underrepresented groups in tech to attend and lowering the barriers for them. This includes but isn’t limited to: women, people of color, LGBTQIA+ people, and disabled people. Your privacy, details and answers will only be shared with the organizers of <%= @event.name %>. We will not share any data with those who sponsor these tickets. This application is for one conference ticket only. The ticket includes
      </p>
      <ul>
        <% if @event.ticket_funded? %>
          <li>admission to the conference,</li>
        <% end %>
        <% if @event.travel_funded? %>
          <li>travel costs,</li>
        <% end %>
        <% if @event.accommodation_funded? %>
          <li>accommodation,</li>
        <% end %>
        <li>catering for the day of the conference,</li>
        <li>and admission to the parties organised for the conference attendees, speakers, and staff.</li>
      </ul>
      <% if @event.travel_funded? %>
        <p>If you applied for a travel grant and were accepted, you will get reimbursed for your costs either up to 300 € (EU) or up to 900 € (non-EU). Note: You will only get reimbursed when the organizers of the conference can confirm that you actually attended the conference. They will take note of your name at the registration desk.</p>
      <% end %>
      <p>All attendees, speakers, sponsors and staff at <%= @event.name %> are required to agree with the <%= link_to 'Code of Conduct', "#{@event.code_of_conduct}" %> of the event. Organizers will enforce this code throughout the event.</p>
    </div>
  </section>

  <div class="form_field">
    <%= f.submit("Submit Application", class: "btn btn-save") %>
  </div>
<% end %>
