<p><%= link_to 'Home', root_path %> > <%= link_to 'Events', events_path %> > <%= link_to @event.name, event_path(@event) %> > Application</p>

<h1>Application for <%= @event.name %></h1>

<%= form_for :application, url: event_applications_path(params[:event_id]) do |f| %>

<% if @application.errors.any? %>
  <div class="error">
    <h2><%= pluralize(@application.errors.count, "error") %> prohibited this application from being saved:</h2>
 
    <ul>
    <% @application.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <div class="form_field">
    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </p>
  </div>

  <div class="form_field">
    <p>
      <%= f.label :email %><br>
      <%= f.text_field :email %>
    </p>
  </div>

  <div class="form_field">
    <p>
      <%= f.label :email_confirmation %><br>
      <%= f.text_field :email_confirmation %>
    </p>
  </div>

  <div class="form_field">
    <p>
      <%= f.submit("Submit Application") %>
    </p>
  </div>
<% end %>
