<p class="breadcrumb"><%= link_to 'Home', root_path %> > <%= link_to 'Events', events_path %> > <%= link_to @event.name, event_path(@event) %> > Application</p>

<h1 class="page-title">Application for <%= @event.name %></h1>
<p class="page-description">Please fill out this form. Unless otherwise specified, all fields are required.</p>

<%= form_for :application, url: event_applications_path(params[:event_id]) do |f| %>

  <% if @application.errors.any? %>
    <div class="error">
      <p><%= pluralize(@application.errors.count, "error") %> stopped this application from being saved:</p>
      <ul>
        <% @application.errors.messages.each do |field, messages| %>
          <li><%= @application.class.human_attribute_name(field) %> <%= join_messages(messages) %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <section class="box">
    <div class="form_field">
      <%= f.label :attendee_info_1, "Why do you want to attend #{@event.name} and what especially do you look forward to learning?" %>
      <%= f.text_area :attendee_info_1 %>
    </div>

    <div class="form_field">
      <%= f.label :attendee_info_2, "Please share with us why you're applying for a diversity ticket. (1-2 sentences is enough, please only share what you're comfortable with)" %>
      <%= f.text_area :attendee_info_2 %>
    </div>

    <div class="form_field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="form_field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    <div class="form_field">
      <%= f.label :email_confirmation %>
      <%= f.text_field :email_confirmation %>
    </div>

    <div class="form_field">
      <% if @event.ticket_funded %>
      <%= label_tag do %>
        <%= f.check_box(:ticket_needed) %> I need a ticket
      <% end %>
      <% end %>
      <% if @event.travel_funded %>
      <%= label_tag do %>
        <%= f.check_box(:travel_needed) %> I need travel funding
      <% end %>
      <% end %>
      <% if @event.accommodation_funded %>
      <%= label_tag do %>
        <%= f.check_box(:travel_needed) %> I need accommodation funding
      <% end %>
      <% end %>
    </div>

    <div class="form_field">
      <%= label_tag do %>
      <%= f.check_box :terms_and_conditions %>
       I agree with the following Terms and Conditions
      <% end %>
      <p>
        This diversity program is aimed to help underrepresented groups in tech to attend and lowering the barriers for them. This includes but isn’t limited to: women, people of color, LGBTQIA+ people, and disabled people. Your privacy, details and answers remain protected; we will raffle out the tickets. We will not share any data with those who sponsor these tickets. This application is for one conference ticket only. The ticket includes
      </p>
      <ul>
        <% if @event.ticket_funded? %>
          <li>admission to the conference,</li>
        <% end %>
        <% if @event.travel_funded? %>
          <li>travel costs,</li>
        <% end %>
        <% if @event.accommodation_funded? %>
          <li>accomodation,</li>
        <% end %>
        <li>catering for the day of the conference,</li>
        <li>and admission to the parties organised for the conference attendees, speakers, and staff.</li>
      </ul>
      <p>All attendees, speakers, sponsors and staff at <%= @event.name %> are required to agree with the <%= link_to 'Code of Conduct', "#{@event.code_of_conduct}" %> of the event. Organizers will enforce this code throughout the event.</p>
    </div>
  </section>

  <div class="form_field">
      <%= f.submit("Submit Application", class: "btn btn-save") %>
  </div>
<% end %>
