<% provide :title, t('.title') %>

<%= render partial: "shared/breadcrumbs", locals:{ events: t('.events_link'), event: @event, application: t('.application') } %>

<h1 class="page-title"><span class="page-title-firstword"><%= t('.application_for') %></span> <%= @event.name %></h1>

<%= render partial: "events/application_details" %>

<%= render partial: "form" %>
