<p class="breadcrumb">
  <%= link_to 'Home', root_path %> >
  <% if current_user.admin? %>
    <%= link_to 'Admin', admin_path %>
  <% else %>
    <%= link_to 'Your Applications', user_applications_path(current_user.id) %>
  <% end %> >
  <%= link_to @event.name, event_admin_path(@event.id) %> >
  Application from <%= @application.name %>
</p>

<h1 class="page-title">Application for <%= @event.name %></h1>

<section class="box">
  <p class="detail-pair">
    <strong>
      Why do you want to attend <%= @event.name %>
      and what especially do you look forward to learning?
    </strong>
    <%= @application.attendee_info_1 %>
  </p>

  <p class="detail-pair">
    <strong>Please share with us why you're applying for a diversity ticket.</strong>
    <%= @application.attendee_info_2 %>
  </p>

  <p class="detail-pair">
    <strong>Name</strong>
    <%= @application.name %>
  </p>

  <p class="detail-pair">
    <strong>Email</strong>
    <%= @application.email %>
  </p>
</section>

<% if current_user.admin? %>
  <%= link_to 'Delete this application', event_application_path(@event.id, @application.id),
      class: "btn btn-delete",  method: :delete,
      data: { confirm: "Are you sure you want to delete this application?" } %>
  <%= link_to 'Show Event Details', event_admin_path(@event.id) %>
<% else %>
  <%= link_to 'Show Event Details', event_path(@event.id) %>
  <% if @application.event.open? %>
    <%= link_to 'Edit', edit_event_application_path(@event.id, @application.id),
        class: "btn btn-edit" %>
  <% end %>
<% end %>
