<% provide :title, t('.title') %>

<%= render partial: "shared/breadcrumbs",
  locals: {
    your_applications: t('.your_applications'),
    application_for: t('.application_for',
    event_name: @event.name)
  } %>

<h1 class="box-title"><%= t('.application_for', event_name: @event.name) %></h1>

<%= render partial: "application_details", locals: {application: @application, event_name: @event.name} %>

<% if @application.event.open? %>
  <% if !@application.submitted %>
    <%= form_for @application, url: submit_event_application_path(@event.id, @application.id), builder: ::FormBuilder do |f| %>

      <% if @application.errors.any? %>
        <div class="error">
          <p><%= pluralize(@application.errors.count, "error", "errors") %> stopped this application from being saved:</p>
          <ul>
            <% @application.errors.messages.each do |field, messages| %>
              <li><%= @application.class.human_attribute_name(field) %> <%= join_messages(messages) %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <section class="box">
        <%= f.form_field :text_field, :email_confirmation, t('.email_confirmation') %>

        <%= render partial: "shared/applications_t&c", locals: { f: f } %>

      </section>
      <div>
        <%= f.submit(t('.submit_application'), class: "btn btn-save submit_application") %>
    <% end %>
  <% else %>
    <div class="margin-bottom">
  <% end %>
  <% if current_user.id == @application.applicant_id %>
    <%= link_to t('.edit'), edit_event_application_path(@event.id, @application.id),
        class: "btn btn-edit" %>
    <%= link_to t('.delete'), event_application_path(@event.id, @application.id),
        class: "btn btn-delete",  method: :delete,
        data: { confirm: t('.are_you_sure') } %>
  <% end %>
  </div>
<% elsif @application.submitted == false %>
  <div>
    <%= link_to t('.delete'), event_application_path(@event.id, @application.id),
        class: "btn btn-delete",  method: :delete,
        data: { confirm: t('.are_you_sure') } %>
  </div>
<% end %>

<p>
  <%= link_to t('.show_event_details'), event_path(@event.id) %>
</p>
