<h1>Application for <%= @event.name %></h1>

<p>
  <strong>Name:</strong>
  <%= @application.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @application.email %>
</p>


<p>
  <strong><%= @event.question_1 %></strong>
  <%= @application.answer_1 %>
</p>

<p>
  <strong><%= @event.question_2 %></strong>
  <%= @application.answer_2 %>
</p>

<p>
  <strong><%= @event.question_3 %></strong>
  <%= @application.answer_3 %>
</p>


<%= link_to 'Show Event', event_path(@event.id) %>