<% provide :title, t('.title') %>

<% if current_user.admin? %>
  <%= render partial: "shared/breadcrumbs", locals:{ admin: t('.admin_link'), event: @event, application_by: t('.application_by', applicant_name: @application.name) } %>
<% else %>
  <%= render partial: "shared/breadcrumbs", locals:{ your_applications: t('.your_applications'), application_for: t('.application_for', event_name: @event.name) } %>
<% end %>

<h1 class="box-title"><%= t('.application_for', event_name: @event.name) %></h1>

<section class="box">
  <p class="detail-pair">
    <strong>
      <%= t('.attendee_info_1', event_name: @event.name) %>
    </strong>
    <%= @application.attendee_info_1 %>
  </p>

  <p class="detail-pair">
    <strong><%=t('.attendee_info_2')%></strong>
    <%= @application.attendee_info_2 %>
  </p>

  <p class="detail-pair">
    <strong><%=t('.name')%></strong>
    <%= @application.name %>
  </p>

  <p class="detail-pair">
    <strong><%=t('.email')%></strong>
    <%= @application.email %>
  </p>

  <% if @application.visa_needed %>
    <p class="detail-pair">
      <strong><%=t('.visa_needed')%></strong>
    </p>
  <% end %>
</section>

<% if @application.event.open? %>
  <% if !@application.submitted %>
    <%= form_for @application, url: submit_event_application_path(@event.id, @application.id), builder: ::FormBuilder do |f| %>

      <% if @application.errors.any? %>
        <div class="error">
          <p><%= pluralize(@application.errors.count, "error", "errors") %> stopped this application from being saved:</p>
          <ul>
            <% @application.errors.messages.each do |field, messages| %>
              <li><%= @application.class.human_attribute_name(field) %> <%= join_messages(messages) %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <section class="box">
        <%= f.form_field :text_field, :email_confirmation, t('.email_confirmation') %>

        <%= render partial: "shared/applications_t&c", locals: { f: f } %>

      </section>
      <div>
        <%= f.submit(t('.submit_application'), class: "btn btn-save submit_application") %>
    <% end %>
  <% else %>
    <div class="margin-bottom">
  <% end %>
  <% if current_user.id == @application.applicant_id %>
    <%= link_to t('.edit'), edit_event_application_path(@event.id, @application.id),
        class: "btn btn-edit" %>
    <%= link_to t('.delete'), event_application_path(@event.id, @application.id),
        class: "btn btn-delete",  method: :delete,
        data: { confirm: t('.are_you_sure') } %>
  <% end %>
  </div>
<% elsif @application.submitted == false %>
  <div>
    <%= link_to t('.delete'), event_application_path(@event.id, @application.id),
        class: "btn btn-delete",  method: :delete,
        data: { confirm: t('.are_you_sure') } %>
  </div>
<% end %>
<% if current_user.admin? %>
  <div class="box">
    <p> Application status: <%= @application.status %> </p>
    <%= link_to t('.delete_application'), event_application_path(@event.id, @application.id),
        class: "btn btn-delete",  method: :delete,
        data: { confirm: t('.are_you_sure') } %>
    <% if @application.submitted == true && !@event.past? %>
      <% if @application.status == 'pending' %>
        <%= link_to t('.approve').capitalize, approve_event_application_path(@application.event_id, @application.id),
            method: :post, class: "btn btn-save approve-application",
            title: t('.approve') %>
        <%= link_to t('.reject').capitalize, reject_event_application_path(@application.event_id, @application.id),
         method: :post, class: "btn btn-external reject-application",
         title: t('.reject') %>
      <% elsif @application.status == 'approved' || @application.status == 'rejected' %>
        <%= link_to t('.revert').capitalize, revert_event_application_path(@application.event_id, @application.id),
               method: :post, class: "btn btn-edit revert-application",
               title: t('.revert') %>
      <% end %>
    <% end %>
  </div>
<% end %>
  <p>
    <%= link_to t('.show_event_details'), event_path(@event.id) %>
  </p>
