<% provide :title, t('users.applications.your_applications').titleize %>

<p class="breadcrumb">
  <%= link_to t('.home_link'), root_path %> > <%= t('.your_applications') %>
</p>

<h1><%= t(".title") %></h1>
<div class="two-columns">
  <% @categorized_user_applications.each do |heading, applications| %>
    <% if applications.any? %>
      <section class="category">
        <h2><%= t(".#{heading}") %></h2>
        <div class="applicant">
          <ul class="applicant-list">
            <% applications.each do |application| %>
              <li>
                <% unless application.deleted == true %>
                  <div class="conflogo--small"><%= event_image application.event %></div>
                  <p class="event-name">
                    <%= link_to application.event.name, event_path(id: application.event.id) %>
                  </p>
                  <p class="application-count">
                    <% if application.submitted == false %>
                      <%= link_to t('.your_draft'), event_draft_path(id: application.id, event_id: application.event.id) %>
                    <% else %>
                      <%= link_to t('.your_application'), event_application_path(id: application.id, event_id: application.event.id) %>
                    <% end %>
                  </p>
                 <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </section>
      <div></div>
    <% end %>
  <% end %>
</div>

<% if @categorized_user_applications.values.flatten.empty? %>
  <p><%=t('.no_applications') %></p>
<% end %>

<%= raw t('.info_description') %>
