<h1><%= t(".title") %></h1>

<section class="box">
  <h3><%= t(".subtitle") %></h3>
  <p> <%= t(".benefits_intro") %>
    <br> <%= raw t('.list_of_benefits') %>
  </p>
  <p>
    <%= raw t('.email_preferences') %>
  </p>
</section>

<h3><%= t(".are_you_sure") %></h3>

<div class="submit-field">
  <%= link_to t(".no_delete_button"), edit_user_path(@user), class: "btn btn-delete" %>
  <%= link_to t(".proceed_delete_button"), delete_account_path(@user), class: "btn btn-save",
      method: :post %>
</div>
