<h1><%= t(".title") %></h1>

<section class="box">
<%= form_for @user, method: :delete, builder: ::FormBuilder do |form| %>
  <%= form.form_field :password_field, :password, "Password" %>
  <div class="submit-field">
    <%= link_to t(".cancel"), edit_user_path(@user) %>
    <%= form.submit(t(".delete_button"), class: "btn btn-delete indent", method: :delete) %>
  </div>
<% end %>
</section>
