<h2><%= t(".title") %></h2>

<%= form_for @user, builder: ::FormBuilder do |form| %>
  <%= form.form_field :text_field, :name, "Name" %>

  <%= form.form_field :email_field, :email, "Email" %>

  <%= form.label "Country" %>
  <%= form.select :country, CS.countries.values%>

  <%= form.form_field :password_field, :password, "Password" %>

  <div class="submit-field">
    <%= form.submit(class: "btn btn-save") %>
  </div>

<% end %>
