<h2><%= t(".title") %></h2>

<%= form_for @user, builder: ::FormBuilder do |form| %>
  <%= form.form_field :text_field, :name, t('.name') %>

  <%= form.form_field :email_field, :email, t('.email') %>

  <%= form.label t('.country') %>
  <%= form.select :country, CS.countries.values%>

  <%= form.form_field :password_field, :password, t('.password') %>

<h2><%= t(".email-notifications") %></h2>

  <%= form.check_box :country_email_notifications %> <%= t('.receive-emails-country') %>

  <div class="submit-field">
    <%= form.submit(t(".save-changes"), class: "btn btn-save") %>
  </div>




<% end %>
