<h1 class="front-title"><%= raw t('.main_presentation') %></h1>
<h2 class="front-title"><%=raw t('.main_presentation_subtitle') %></h2>

<div class="front-cta">
  <%= link_to events_path, class:"front-apply attendee" do %>
    <h3><%= t('.attendees') %></h3>
    <p><%= t('.find_event') %></p>
  <% end %>

  <%= link_to new_event_path, class: "front-apply organizer" do %>
    <h3><%= t('.organizers') %></h3>
    <p><%= t('.submit_event') %></p>
  <% end %>
</div>
