<% provide :title, t('.title', locale: :en) %>

<h1 class="page-title"><%= t('.privacy_policy', locale: :en) %></h1>

<em><%= t('.last_updated', locale: :en) %></em>

<h2 class="page-subtitle"><%= t('.introduction_title', locale: :en) %></h2>
  <%= raw t('.introduction', locale: :en) %>

<h2 class="page-subtitle"><%= t('.information_gathering_title', locale: :en) %></h2>
  <%= raw t('.information_gathering', locale: :en) %>

<h2 class="page-subtitle"><%= t('.your_data_title', locale: :en) %></h2>
  <%= raw t('.your_data', locale: :en) %>

<h2 class="page-subtitle"><%=t('.your_rights_title', locale: :en)%></h2>
  <%= raw t('.your_rights', locale: :en).html_safe %>

<h3><%= t('.right_of_access_title', locale: :en) %></h3>
  <%= raw t('.right_of_access', locale: :en) %>

<h3><%= t('.right_of_rectification_title', locale: :en) %></h3>
  <%= raw t('.right_of_rectification', locale: :en) %>

<h3><%= t('.right_to_be_forgotten_title', locale: :en) %></h3>
  <%= raw t('.right_to_be_forgotten', locale: :en) %>

<h3><%= t('.right_to_data_portability_title', locale: :en) %></h3>
  <%= raw t('.right_to_data_portability', locale: :en) %>

<h3><%= t('.right_to_withdraw_consent_title', locale: :en) %></h3>
  <%= raw t('.right_to_withdraw_consent', locale: :en) %>

<h2 class="page-subtitle"><%= t('.duration_of_the_storage_data_title', locale: :en) %></h2>
  <%= raw t('.duration_of_the_storage_data', locale: :en) %>

<h2 class="page-subtitle"><%= t('.cookies_title', locale: :en) %></h2>
  <%= raw t('.cookies', locale: :en) %>

<h2 class="page-subtitle"><%= t('.ad_servers_title', locale: :en) %></h2>
  <%= raw t('.ad_servers', locale: :en) %>

<h2 class="page-subtitle"><%= t('.security_title', locale: :en) %></h2>
  <%= raw t('.security', locale: :en) %>

<h2 class="page-subtitle"><%= t('.links_to_other_websites_title', locale: :en) %></h2>
  <%= raw t('.links_to_other_websites', locale: :en) %>

<h2 class="page-subtitle"><%= t('.changes_title', locale: :en) %></h2>
  <%= raw t('.changes', locale: :en)%>
