<% provide :title, 'Privacy' %>

<h1 class="page-title"><%= t('.privacy_policy') %></h1>

<em><%= t('.last_updated') %></em>

<h2 class="page-subtitle"><%= t('.introduction_title') %></h2>
  <%= raw t('.introduction') %>

<h2 class="page-subtitle"><%= t('.information_gathering_title') %></h2>
  <%= raw t('.information_gathering') %>

<h2 class="page-subtitle"><%= t('.your_data_title') %></h2>
  <%= raw t('.your_data') %>

<h2 class="page-subtitle"><%=t('.your_rights_title')%></h2>
  <%= raw t('.your_rights').html_safe %>

<h3><%= t('.right_of_access_title') %></h3>
  <%= raw t('.right_of_access') %>

<h3><%= t('.right_of_rectification_title') %></h3>
  <%= raw t('.right_of_rectification') %>

<h3><%= t('.right_of_be_forgotten_title') %></h3>
  <%= raw t('.right_of_be_forgotten') %>

<h3><%= t('.right_to_data_portability_title') %></h3>
  <%= raw t('.right_to_data_portability') %>

<h3><%= t('.right_to_withdraw_consent_title') %></h3>
  <%= raw t('.right_to_withdraw_consent') %>

<h2 class="page-subtitle"><%= t('.duration_of_the_storage_data_title') %></h2>
  <%= raw t('.duration_of_the_storage_data') %>

<h2 class="page-subtitle"><%= t('.cookies_title') %></h2>
  <%= raw t('.cookies') %>

<h2 class="page-subtitle"><%= t('.ad_servers_title') %></h2>
  <%= raw t('.ad_servers') %>

<h2 class="page-subtitle"><%= t('.security_title') %></h2>
  <%= raw t('.security') %>

<h2 class="page-subtitle"><%= t('.links_to_other_websites_title') %></h2>
  <%= raw t('.links_to_other_websites') %>

<h2 class="page-subtitle"><%= t('.changes_title') %></h2>
  <%= raw t('.changes')%>
