<section class="box">
  <h2 class="box-title"><%= t('.application_details') %></h2>

  <% if @event.applicant_directions.present? %>
    <div class="detail-pair">
      <strong><%= t('.directions_applicants') %></strong>
      <div class="markdownize"><%= @event.applicant_directions %></div>
    </div>
  <% end %>

  <div class="detail-pair">
    <strong><%= t('.deadline_applications') %></strong>
    <%= format_datetime(@event.deadline) %>
  </div>

  <div class="detail-pair">
    <strong><%= t('.number_tickets') %></strong>
    <%= pluralize(@event.number_of_tickets, t('.ticket')) %>
  </div>

  <div class="detail-pair">
    <strong><%=t('.whats_funded')%></strong>
    <div>
      <%= span_for_funded(t('.ticket').capitalize, @event.ticket_funded) %>
      <%= span_for_funded(t('.accomodation'), @event.accommodation_funded) %>
      <%= span_for_funded(t('.travel'), @event.travel_funded) %>
    </div>
  </div>
</section>
