<div id="searchbar">
  <section class="tags box col-6">
    <%= form_tag(search_path, method: :get) do %>
      <h4 id="filter-tags-dropdown"><i class="icon-filter" id="icon-filter"></i>Filter by tags</h4>
      <div class="filter-dropdown-content">
        <div class="category-tags">
          <% Category.all.each do |category| %>
            <p><%= t('.' + category.name.gsub(" ", "_")) %></p>
            <%= collection_check_boxes(:filter, :tag_ids, category.tags.order(:name), :id, :name) do |tag| %>
              <%= tag.label { tag.check_box + " " + tag.text } %>
            <% end %>
          <% end %>
        </div>
      </div>
      <%= text_field_tag :query, params[:query],
          placeholder: t('.enter_search'), class: "search-input" %>
      <%= submit_tag t('.search'), name: nil, class: "btn btn-edit" %>
      <div class="clear"></div>
    <% end %>
  </section>
</div>
