<section class="box">
<h2 class="box-title"><%= t('.event_details') %></h2>

<div class="detail-pair">
  <strong><%= t('.event_name') %></strong>
  <%= @event.name %>
</div>

<% if @event.logo.present? && (controller_name == 'admin_events' || action_name == 'preview') %>
  <div class="detail-pair">
    <strong><%= t('.event_logo') %></strong>
    <div class="conflogo--large"><%= image_tag @event.logo %></div>
  </div>
<% end %>

<% if @event.twitter_handle.present? %>
  <div class="detail-pair">
    <strong><%= t('.event_twitter') %></strong>
    <%= link_to "@#{@event.twitter_handle}", "https://twitter.com/#{@event.twitter_handle}", target: "_blank" %>
  </div>
<% end %>

<div class="detail-pair">
  <strong><%= t('.event_tags') %></strong>
  <ul class="tags">
    <% @event.tags.each do |tag| %>
      <li class="tag <%= tag.category.name.gsub(" ", "-") %>"><%= tag.name %></li>
    <% end %>
  </ul>
</div>

<div class="detail-pair">
  <strong><%= t('.event_website') %></strong>
  <%= link_to @event.website, "#{@event.website}", target: "_blank" %>
</div>

<div class="detail-pair">
  <strong><%= t('.event_code_of_conduct') %></strong>
  <%= link_to @event.code_of_conduct, "#{@event.code_of_conduct}", target: "_blank" %>
</div>

<div class="detail-pair">
  <strong><%= t('.event_location') %></strong>
  <%= @event.location %>
</div>

<div class="detail-pair">
  <strong><%= t('.event_date') %></strong>
  <%= format_date_range(@event.start_date, @event.end_date) %>
</div>

<div class="detail-pair">
  <strong><%= t('.event_description') %></strong>
  <div class="markdownize"><%= @event.description %></div>
</div>
</section>

<div></div>

<%= render partial: "events/application_details" %>
