<section class="box">
<h2 class="box-title">Event Details</h2>

<div class="detail-pair">
  <strong>Event name</strong>
  <%= @event.name %>
</div>

<% if @event.logo.present? %>
  <div class="detail-pair">
    <strong>Logo:</strong>
    <%= image_tag @event.logo %>
  </div>
<% end %>

<div class="detail-pair">
  <strong>Website</strong>
  <%= link_to @event.website, "#{@event.website}" %>
</div>

<div class="detail-pair">
  <strong>Code of Conduct link</strong>
  <%= link_to @event.code_of_conduct, "#{@event.code_of_conduct}" %>
</div>

<div class="detail-pair">
  <strong>Location</strong>
  <%= @event.city %>, <%= @event.country %>
</div>

<div class="detail-pair">
  <strong>Dates</strong>
  <%= @event.start_date %>
  <% unless @event.start_date == @event.end_date %>
    to
    <%= @event.end_date %>
  <% end %>
</div>

<div class="detail-pair">
  <strong>Description</strong>
  <div class="markdownize"><%= @event.description %></div>
</div>
</section>

<% unless controller_name == 'events' && action_name == 'show' %>
  <section class="box">
    <h2 class="box-title">Selection Process Details</h2>
    <div class="detail-pair">
      <strong>Event organizers ask Travis Foundation to handle the applicant selection process:</strong>
      <% if @event.selection_by_organizer? %>
        No
      <% else %>
        Yes
      <% end %>
    </div>
  </section>
<% end %>

<section class="box">
  <h2 class="box-title">Application Details</h2>

  <% if @event.applicant_directions.present? %>
    <div class="detail-pair">
      <strong>Directions for Applicants</strong>
      <div class="markdownize"><%= @event.applicant_directions %></div>
    </div>
  <% end %>

  <div class="detail-pair">
    <strong>Deadline for applications</strong>
    <%= @event.deadline %> midnight Pacific Time (US & Canada)
  </div>

  <div class="detail-pair">
    <strong>Number of available diversity tickets</strong>
    <%= pluralize(@event.number_of_tickets, "ticket") %>
  </div>

  <div class="detail-pair">
    <strong>What's funded?</strong>
    <div>
      <% if @event.ticket_funded %>
        &#10004; Ticket
      <% end %>
      <% if @event.accommodation_funded %>
        &#10004; Accommodation
      <% end %>
      <% if @event.travel_funded %>
        &#10004; Travel
      <% end %>
    </div>
  </div>
</section>
