<section class="box">
<h2 class="box-title">Event Details</h2>

<div class="detail-pair">
  <strong>Event name</strong>
  <%= @event.name %>
</div>

<% if @event.logo.present? && controller_name == 'admin_events' || action_name == 'preview' %>

  <div class="detail-pair">
    <strong>Logo</strong>
    <div class="conflogo--large"><%= image_tag @event.logo %></div>
  </div>
<% end %>

<% if @event.twitter_handle.present? %>
  <div class="detail-pair">
    <strong>Twitter</strong>
    <%= link_to @event.twitter_handle, "https://twitter.com/#{@event.twitter_handle}" %>
  </div>
<% end %>

<div class="detail-pair">
  <strong>Website</strong>
  <%= link_to @event.website, "#{@event.website}" %>
</div>

<div class="detail-pair">
  <strong>Code of Conduct link</strong>
  <%= link_to @event.code_of_conduct, "#{@event.code_of_conduct}" %>
</div>

<div class="detail-pair">
  <strong>Location</strong>
  <%= @event.location %>
</div>

<div class="detail-pair">
  <strong>Date</strong>
  <% if @event.start_date == @event.end_date %>
    <%= format_date(@event.start_date) %>
  <% else %>
    <%= format_date_range(@event.start_date, @event.end_date) %>
  <% end %>
</div>

<div class="detail-pair">
  <strong>Description</strong>
  <div class="markdownize"><%= @event.description %></div>
</div>
</section>

<section class="box">
  <h2 class="box-title">Application Details</h2>

  <% if @event.applicant_directions.present? %>
    <div class="detail-pair">
      <strong>Directions for Applicants</strong>
      <div class="markdownize"><%= @event.applicant_directions %></div>
    </div>
  <% end %>

  <div class="detail-pair">
    <strong>Deadline for applications</strong>
    <%= format_date(@event.deadline) %> (midnight UTC)
  </div>

  <div class="detail-pair">
    <strong>Number of available diversity tickets</strong>
    <%= pluralize(@event.number_of_tickets, "ticket") %>
  </div>

  <div class="detail-pair">
    <strong>What's funded?</strong>
    <div>
      <%= span_for_funded('Ticket', @event.ticket_funded) %>
      <%= span_for_funded('Accomodation', @event.accommodation_funded) %>
      <%= span_for_funded('Travel', @event.travel_funded) %>
    </div>
  </div>
</section>

<% unless controller_name == 'events' && action_name == 'show' %>
  <section class="box">
    <h2 class="box-title box-noborder">Application and Selection</h2>
    <p class="border">Not shown to the public.<p>
    <div>
      <% if @event.application_process == 'selection_by_travis' %>
        Both, the application and selection process shall be handled by diversitytickets.org*.
        <p>* diversitytickets.org is an app of Travis Foundation, built by Rubymonstas. The employees of Travis Foundation will manage the application and selection processes.</p>
      <% elsif @event.application_process == 'selection_by_organizer'  %>
        We are handling the selection process ourselves, but the application process will be handled by diversitytickets.org. We will not share the privacy, details, and answers of any applicant with third parties, including those who sponsor the diversity tickets.
      <% elsif @event.application_process == 'application_by_organizer' %>
        We are handling both the selection and application process and only want our event listed on this site. Applicants have to apply through our site / app:
        <%= link_to @event.application_link, "#{@event.application_link}" %>
      <% end %>
    </div>
  </section>
<% end %>
