<section class="box">
  <h2 class="box-title box-noborder">Organizer Details</h2>
  <p class="border">Not shown to the public.<p>
  <div class="form_field">
    <%= f.label :organizer_name, 'Full Name' %>
    <%= f.text_field :organizer_name %>
  </div>
  <div class="form_field">
    <%= f.label :organizer_email, 'Email' %>
    <%= f.text_field :organizer_email %>
  </div>

<% if action_name == 'new' %>
  <div class="form_field">
    <%= f.label :organizer_email_confirmation, 'Email Confirmation' %>
    <%= f.text_field :organizer_email_confirmation %>
  </div>
<% end %>
</section>


<section class="box">
  <h2>Event Details</h2>
  <div class="form_field">
    <%= f.label :name, 'Name' %>
    <%= f.text_field :name %>
  </div>

  <div class="form_field">
    <%= f.label :website, 'Website' %>
    <%= f.text_field :website, :placeholder => "e.g. https://myconference.com" %>
  </div>
  <div class="form_field">
    <%= f.label :code_of_conduct, 'Link to Code of Conduct' %>
    <%= f.text_field :code_of_conduct, :placeholder => "e.g. https://myconference.com/code_of_conduct" %>
  </div>

  <h3 class="box-subtitle">Location</h3>
  <div class="form_field">
    <%= f.label :city, 'City' %>
    <%= f.text_field :city %>
  </div>

  <div class="form_field">
    <%= f.label :country, 'Country' %>
    <%= f.text_field :country %>
  </div>

  <h3>Dates</h3>

  <div class="form_field left">
    <%= f.label :start_date, 'From' %>
    <%= f.date_field :start_date, :placeholder => "dd.mm.yyyy" %>
  </div>

  <div class="form_field right">
    <%= f.label :end_date, 'To' %>
    <%= f.date_field :end_date, :placeholder => "dd.mm.yyyy" %>
  </div>

  <div class="form_field">
    <%= f.label :description, 'Description' %>
    <%= f.text_area :description %>
  </div>
</section>


<section class="box">
  <h2 class="box-title">Application Details</h2>
  <div class="form_field">
    <%= f.label :deadline, 'Deadline for Application' %>
    <%= f.date_field :deadline, :placeholder => "dd.mm.yyyy" %>
  </div>

  <div class="form_field">
    <%= f.label :number_of_tickets, 'Number of available diversity tickets' %>
    <%= f.number_field :number_of_tickets, min: 1 %>
  </div>

  <h3 class="box-subtitle">Funded</h3>
  <div class="form_field">
    <%= label_tag do %>
      <%= f.check_box(:ticket_funded) %> Ticket
    <% end %>
    <%= label_tag do %>
      <%= f.check_box(:accommodation_funded) %> Accommodation
    <% end %>
    <%= label_tag do %>
      <%= f.check_box(:travel_funded) %> Travel
    <% end %>
  </div>

  <% if action_name == 'edit' %>
    <h3 class="box-subtitle">Approve Event?</h3>
    <div class="form_field">
      <%= label_tag do %>
        <%= f.radio_button(:approved, true) %> Yes
      <% end %>
      <%= label_tag do %>
        <%= f.radio_button(:approved, false) %> No
      <% end %>
    </div>
  <% end %>
</section>
