<div class="two-columns">
  <%= form_for @event, url: form_url, builder: ::FormBuilder, html: { class: 'directUpload', data: { 'form-data' => (@s3_direct_post.fields), 'url' => @s3_direct_post.url, 'host' => URI.parse(@s3_direct_post.url).host } } do |f| %>

    <section class="box">
      <h2 class="box-title box-noborder"><%= t('.organizer_details') %></h2>
      <p class="border"><%= t('.not_shown') %></p>
      <%= f.form_field :text_field, :organizer_name, t('.full_name'), value: @event.organizer_name ? @event.organizer_name : ((current_user.name != nil) ? current_user.name : '')%>
      <%= f.form_field :text_field, :organizer_email, t('.email'), value: @event.organizer_email ? @event.organizer_email : current_user.email %>
      <% if action_name == 'new' || action_name == 'preview' %>
        <%= f.form_field :text_field, :organizer_email_confirmation, t('.email_confirmation'), value: @event.organizer_email ? @event.organizer_email : current_user.email %>
      <% end %>
    </section>

    <section class="box">
      <h2><%= t('.event_details') %></h2>
      <%= f.form_field :text_field, :name, t('.name') %>

      <div class="tags">
        <label><%= t('.event_tags') %></label>

        <% Category.all.each do |category| %>
          <div class="category-tags tags-border">
            <p class="border"><%= category.name.capitalize %></p>
            <%= f.collection_check_boxes(:tag_ids, category.tags.order(:name), :id, :name) do |tag| %>
              <% if category.name != "programming languages" %>
                <%= tag.label { tag.check_box + " " + t("tags.#{category.name}.#{tag.text.downcase}") } %>
              <% else %>
                <%= tag.label { tag.check_box + " " + tag.text } %>
              <% end %>
            <% end %>

            <p class="hint"><%= link_to t('.cant_find_tag'), faq_path(anchor: "conf_5"), target: "_blank" %></p>
          </div>
        <% end %>
      </div>

      <%= f.image_upload_field :logo, t('.event_logo'), image_name: @event.logo.present? ? @event.logo : "DT-logo.svg", class: ['event-logo'] %>
      <%= f.hidden_field :logo %>
      <div class="form-hint"><%= t('.event_logo_description') %></div>

      <%= f.form_field :text_field, :twitter_handle, t('.event_twitter_handler'), placeholder: t('.event_twitter_placeholder') %>
      <%= f.form_field :text_field, :website, t('.event_website'), placeholder: t('.event_website_placeholder') %>
      <%= f.form_field :text_field, :code_of_conduct, t('.event_code_of_conduct'), placeholder: t('.event_code_of_conduct_placeholder') %>

      <h3 class="box-subtitle"><%= t('.event_location') %></h3>
      <%= f.form_field :text_field, :city, t('.event_city') %>
      <%= f.select :country, CS.countries.values, {:include_blank => t('.select_country')} %>
      <%= f.form_field :text_field, :state_province, t('.state_province') %>

      <h3>Dates</h3>
      <%= f.form_field :date_field, :start_date, t('.from'), class: ['left'], placeholder: t('.date_placeholder'), min: Date.today %>

      <%= f.form_field :date_field, :end_date, t('.to'), class: ['right'], placeholder: t('.date_placeholder'), min: Date.today %>

      <%= f.form_field :text_area, :description, t('.description'), class: ['markdown'] %>
    </section>

    <section class="box">
      <h2 class="box-title"><%= t(".application_details") %></h2>

      <%= f.form_field :text_area, :applicant_directions, t('.directions_applicants'), class: ['markdown'],
          placeholder: t('.directions_applicants_placeholder') %>
    <div class="two-columns">
      <%= f.form_field :date_select, :deadline, t('.deadline_application') , class: ['right'],
          min: Date.today, start_year: Date.today.year, include_blank: true, default: nil,
          use_month_names: t('date.month_names'), order: [:day, :month, :year] %>
      <%= f.form_field :time_select, :deadline, t('.time_utc'), class: ['right'], ignore_date: true, default: {:hour => '23', :minute => '59'}  %>
    </div>
      <%= f.form_field :number_field, :number_of_tickets, t('.number_of_tickets'), min: 1 %>

      <h3 class="box-subtitle"><%= t('.funded') %></h3>

      <div class="form_field">
        <%= label_tag do %>
          <%= f.check_box(:ticket_funded, checked: true) %> <%= t('.ticket') %>
        <% end %>
        <%= label_tag do %>
          <%= f.check_box(:accommodation_funded) %><%= t('.accomodation') %>
        <% end %>
        <%= label_tag do %>
          <%= f.check_box(:travel_funded) %> <%= t('.travel') %>
        <% end %>
      </div>
    </section>

    <section class="box">
      <h2 class="box-title"><%= t('.application_selection') %></h2>
      <div class="form_field">
        <% if selection_by_dt_enabled? %>
          <%= label_tag do %>
            <%= f.radio_button(:application_process, 'selection_by_travis', checked: 'checked') %> <%= t('.selection_by_travis')%>
          <% end %>
        <% end %>

        <%= label_tag do %>
          <%= f.radio_button(:application_process, 'selection_by_organizer', class: 'has-dependent') %> <%= t('.selection_by_organizer') %>

          <div class="form_field--check indent terms_and_conditions-border">
            <%= label_tag do %>
              <%= f.check_box :data_protection_confirmation %>
              <span class="check-label"><%= t('.agree_terms_and_conditions') %></span>
            <% end %>
            <p id="terms-and-conditions">
              <%=t('.terms_and_conditions') %>
            </p>
          </div>

        <% end %>


        <%= label_tag do %>
        <%= f.radio_button(:application_process, 'application_by_organizer', class: 'has-dependent') %> <%=t('.application_by_organizer') %>

        <div class="form_field indent form_with_hint">
          <%= f.form_field :text_area, :application_link, t('.application_form_link'), placeholder: t('.application_form_link_placeholder') %>
            <div class="form-hint"><%= link_to t('home.faq.why_provide_a_link_short'), faq_path(anchor: "conf_6") %></div>
        </div>

        <% end %>
      </div>

      <%= label_tag do %>
        <p><%= t('.diversity_tickets_info') %></p>
      <% end %>
    </section>

    <% if current_user.admin? && action_name == 'edit' %>
      <section class="box">
        <h3 class="box-subtitle"><%= t('.approve_event') %></h3>
        <div class="form_field">
          <%= label_tag do %>
            <%= f.radio_button(:approved, true) %> Yes
          <% end %>
          <%= label_tag do %>
            <%= f.radio_button(:approved, false) %> No
          <% end %>
        </div>
      </section>
    <% end %>

    <div class="form_field">
      <%= f.submit(submit_tag_text, class: 'btn btn-save') %>
    </div>
  <% end %>
</div>
