<div class="box event">
  <h3 class="conf-title">
    <div class="conflogo--medium"><%= event_image event %></div>
    <%= link_to event.name, event_path(id: event.id) %>
  </h3>

  <p><i class="icon-location"></i><%= event.location %></p>
  <p class="markdownize"><%= event.description %></p>
  <ul class="tags">
    <% event.tags.each do |tag| %>
      <li class="tag <%= tag.category.name.gsub(" ", "-") %>"><%= tag.name %></li>
    <% end %>
  </ul>
  <% if event.application_process == 'application_by_organizer' %>
    <%= button_to "Apply at #{event.name}", event.application_link, method: :get,
        class: "btn btn-save btn-external", disabled: event.closed? %>
  <% elsif current_user == nil || event.applications.find_by(applicant_id: current_user.id) == nil %>
    <%= button_to 'Apply', new_event_application_path(event_id: event.id), method: :get,
        class: "btn btn-save", disabled: event.closed? %>
  <% else %>
  <% event.applications.find_by(applicant_id: current_user.id).submitted ? button_text = 'Your application' : button_text = 'Your draft' %>
    <%= button_to button_text,
        event_application_path(
        event_id: event.id,
        id: event.applications.find_by(applicant_id: current_user.id).id
        ),
        method: :get, class: "btn btn-save" %>
  <% end %>

  <% if event.closed? %>
    <span class="hint">Application deadline passed</span>
  <% end %>
</div>
