<h1>Admin Page</h1>

<% @categorized_events.each do |heading, events| %>
  <div class="category">
    <h2><%= heading %></h2>

    <div class="admin">
      <div>
        <ul>
      <% events.each do |event| %>
        <li>
            <strong><%= link_to event.name, event_admin_path(:id => event.id) %></strong>
            <%= link_to "#{ event.approved ? 'Unapprove' : 'Approve' }", approve_event_path(event), :method => :post %>
            <%= link_to 'Edit', edit_event_path(:id => event.id) %>
            <%= link_to 'Delete', url_for(action: :destroy, id: event.id), method: :delete, data: { confirm: "Are you sure?" } %>
            <%= link_to 'Download CSV', event_admin_path(:id => event.id, :format => :csv), class:'button' %>
           </li>
          <% end %>
          </ul>
      </div>
    </div>
  </div>
<% end %>
