<h1>Admin Page</h1>

<% @categorized_events.each do |heading, events| %>
  <div class="category">
    <h2><%= heading %></h2>

    <div class="admin">
      <% events.each do |event| %>
        <div>
          <ul>
            <li><strong><%= link_to event.name, event_admin_path(:id => event.id) %></strong></li>
            <li><%= link_to "#{ event.approved ? 'Dispprove' : 'Approve' }", approve_event_path(event), :method => :post %></li>
            <li><%= link_to 'Edit', edit_event_path(:id => event.id) %></li>
            <li><%= link_to 'Delete', url_for(action: :destroy, id: event.id), method: :delete, data: { confirm: "Are you sure?" } %></li>
            <li><%= link_to 'Download CSV', event_admin_path(:id => event.id, :format => :csv), class:'button' %></li>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
