<p class="breadcrumb"><%= link_to 'Home', root_path %> > <%= link_to 'Admin', admin_path %> > Edit <%= @event.name %></p>

<h1>Edit <%= @event.name %></h1>

<% if @event.errors.any? %>
  <div class="error">
    <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being updated:</h2>

    <ul>
    <% @event.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @event, url: event_path(@event), method: :put do |f| %>
  <%= render partial: "form", locals: {f: f} %>

  <div class="form_field">
      <%= f.submit("Edit Event") %>
  </div>
<% end %>
