<% provide :title, t('.edit_event') %>

<% if current_user && @event.organizer_id == current_user.id %>
  <%= render partial: "shared/breadcrumbs", locals:{ your_events: t('.your_events'), edit_event: t('.edit_event') } %>
<% elsif current_user && current_user.admin? %>
  <%= render partial: "shared/breadcrumbs", locals:{ admin: t('.admin_link'), edit_event: t('.edit_event') } %>
<% else %>
  <%= render partial: "shared/breadcrumbs", locals:{ events: t('.events_link'), edit_event: t('.edit_event') } %>
<% end %>

<h1 class="page-title"><span class="page-title-firstword"><%= t('.edit') %></span> <%= @event.name %></h1>

<% if @event.errors.any? %>
  <div class="error">
    <p><%= pluralize(@event.errors.count, "error", "errors") %><%= t('.errors') %> </p>

    <ul>
      <% @event.errors.messages.each do |field, messages| %>
        <li><%= @event.class.human_attribute_name(field) %> <%= join_messages(messages) %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<%= render partial: "form", locals: {submit_tag_text: t('.submit_changes'), form_url: event_path(@event)} %>
