<p class="breadcrumb"><%= link_to 'Home', root_path %> > <%= breadcrumb_link_according_to_user_status %> > Edit Event</p>

<h1 class="page-title"><span class="page-title-firstword">Edit</span> <%= @event.name %></h1>

<% if @event.errors.any? %>
  <div class="error">
    <p><%= pluralize(@event.errors.count, "error") %> stopped this event from being updated:</p>

    <ul>
      <% @event.errors.messages.each do |field, messages| %>
        <li><%= @event.class.human_attribute_name(field) %> <%= join_messages(messages) %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<%= render partial: "form", locals: {submit_tag_text: "Edit Event", form_url: event_path(@event)} %>
