<% provide :title, t('.edit_event') %>

<% key = breadcrumb_locals_according_to_user_status.keys.first %>
<% value = breadcrumb_locals_according_to_user_status.values.first %>

<%= render partial: "shared/breadcrumbs", locals: Hash[key => value, edit_event: t('.edit_event')] %>

<h1 class="page-title"><span class="page-title-firstword"><%= t('.edit') %></span> <%= @event.name %></h1>

<% if @event.errors.any? %>
  <div class="error">
    <p><%= pluralize(@event.errors.count, "error", "errors") %><%= t('.errors') %> </p>

    <ul>
      <% @event.errors.messages.each do |field, messages| %>
        <li><%= @event.class.human_attribute_name(field) %> <%= join_messages(messages) %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= render partial: "form", locals: {submit_tag_text: t('.submit_changes'), form_url: event_path(@event)} %>
