<% provide :title, t('.events') %>
<% provide :search_path, events_path %>

<p class="breadcrumb">
  <%= link_to t('.home_link'), root_path %> > <%= t('.events') %>
</p>

<% if @open_events.empty? && @closed_events.empty? %>

  <div class="events-empty">
    <%= raw t('.no_events') %>
    <p><%= raw t('.submit_your_conference', link_to_submission: link_to(t('.submit_your_own_conference'), new_event_path)) %></p>
  </div>

<% else %>

<%= render partial: 'event_search'%>

  <% if @open_events.any? %>
    <h2><%= t('.open_for_application') %></h2>
    <div class="two-columns">
      <% @open_events.each do |event| %>
        <%= render partial: "index_list_item", locals: { event: event } %>
      <% end %>
    </div>
  <% end %>

  <% if @closed_events.any? %>
    <h2><%= t('.closed_for_application') %></h2>
    <div class="two-columns">
      <% @closed_events.each do |event| %>
        <%= render partial: "index_list_item", locals: { event: event } %>
      <% end %>
    </div>
  <% end %>

<% end %>

<%= link_to(t('.show_past_events'), past_events_path) if @past_events.any? %>
