<% if @events.empty? %>
  New events will be coming soon!
  <%=link_to 'Submit yours now.', new_event_path %>
<% else %>
  <% @events.each do |event| %>
    <div class="box event">
      <h3><%= link_to event.name, event_path(:id => event.id) %></h3>
      <p class="markdownize"><%= event.description %></p>
      <% if event.open? %>
        <%= link_to 'Apply', new_event_application_path(:event_id => event.id), class:'btn btn-save' %>
      <% end %>
    </div>
  <% end %>
<% end %>

<%= link_to 'Show past events', past_events_path if @past_events.any? %>
