<p class="breadcrumb">
  <%= link_to 'Home', root_path %> > Events
</p>

<% if @open_events.empty? && @closed_events.empty? %>

  <div class="events-empty">
    <h2>We currently have no events lined up.</h2>
    <p>But we'll add new ones soon!</p>
    <p>You can <%=link_to 'submit your own conference', new_event_path %> now or browse through <%= link_to 'past events', past_events_path if @past_events.any? %>.</p>
  </div>

<% else %>

  <% if @open_events.any? %>
    <h2>Open for applications</h2>
    <div class="two-columns">
      <% @open_events.each do |event| %>
        <%= render partial: "index_list_item", locals: { event: event } %>
      <% end %>
    </div>
  <% end %>

  <% if @closed_events.any? %>
    <h2>Closed for applications</h2>
    <div class="two-columns">
      <% @closed_events.each do |event| %>
        <%= render partial: "index_list_item", locals: { event: event } %>
      <% end %>
    </div>
  <% end %>

  <%= link_to 'Show past events', past_events_path if @past_events.any? %>

<% end %>
