<p class="breadcrumb"><%= link_to 'Home', root_path %> > <%= link_to 'Events', events_path %> > New Event</p>

<h1 class="page-title">Create New Event</h1>
<p class="page-description">Please fill out this form. Fields marked with * are required.</p>

<% if @event.errors.any? %>
  <div class="error">
    <p><%= pluralize(@event.errors.count, "error") %> stopped this event from being saved:</p>

    <ul>
      <% @event.errors.messages.each do |field, messages| %>
        <li><%= @event.class.human_attribute_name(field) %> <%= join_messages(messages) %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @event, url: event_preview_path, builder: ::FormBuilder do |f| %>
  <%= render partial: "form", locals: {f: f} %>
  <div class="form_field">
      <%= f.submit("Preview Event", class: 'btn btn-save') %>
  </div>
<% end %>
