<h1>New Event</h1>

<%= form_for :event, url: events_path do |f| %>
  <p>
    <%= f.label :organizer_name %><br>
    <%= f.text_field :organizer_name %>
  </p>
 
  <p>
    <%= f.label :organizer_email %><br>
    <%= f.text_field :organizer_email %>
  </p>

  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
 
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :start_date %><br>
    <%= f.date_field :start_date %>
  </p>

  <p>
    <%= f.label :end_date %><br>
    <%= f.date_field :end_date %>
  </p>

  <p>
    <%= f.label :question_1 %><br>
    <%= f.text_field :question_1 %>
  </p>

  <p>
    <%= f.label :question_2 %><br>
    <%= f.text_field :question_2 %>
  </p>

  <p>
    <%= f.label :question_3 %><br>
    <%= f.text_field :question_3 %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back', events_path %>