<p class="breadcrumb"><%= link_to 'Home', root_path %> > <%= link_to 'Events', events_path %> > New Event</p>

<h1 class="page-title">Create New Event</h1>
<p class="page-description">Please fill out this form. Unless otherwise specified, all fields are required.</p>


<% if @event.errors.any? %>
  <div class="error">
    <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

    <ul>
    <% @event.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for :event, url: event_preview_path do |f| %>
  <%= render partial: "form", locals: {f: f} %>
  <div class="form_field">
      <%= f.submit("Preview Event") %>
  </div>
<% end %>
