<p><%= link_to 'Home', root_path %> > <%= link_to 'Events', events_path %> > New Event</p>

<h1>Create New Event</h1>

<% if @event.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>
 
    <ul>
    <% @event.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for :event, url: events_path do |f| %>
  
  <p>Event Details:</p>
  <div class="form_field">
    <p>
      <%= f.label :name, 'Event Name' %>

    </p>
    <p>
      <%= f.text_field :name %>
    </p>
  </div>

  <div class="date">
    <div class="form_field left">
      <p>
        <%= f.label :start_date, 'From' %>
      </p>
      <p>
        <%= f.date_field :start_date %>
      </p>
    </div>

    <div class="form_field right">
      <p>
        <%= f.label :end_date, 'To' %>
      </p>
      <p>
        <%= f.date_field :end_date %>
      </p>
    </div>
  </div>

  <div class="form_field">
    <p>
      <%= f.label :description, 'Description' %>
    </p>
      <%= f.text_area :description %>
  </div>

  <p>Organizer Details:</p>
  <div class="form_field">
    <p>
      <%= f.label :organizer_name, 'Name' %>
    </p>
    <p>
      <%= f.text_field :organizer_name %>
    </p>
  </div>

  <div class="form_field">
    <p>
      <%= f.label :organizer_email, 'Email' %>
    </p>
    <p>
      <%= f.text_field :organizer_email %>
    </p>
  </div>

  <div class="form_field">
    <p>
      <%= f.label :organizer_email_confirmation, 'Email Confirmation' %>
    </p>
    <p>
      <%= f.text_field :organizer_email_confirmation %>
    </p>
  </div>

  <div class="form_field">
    <p>
      <%= f.submit("Submit New Event") %>
    </p>
  </div><br>
<% end %>
