<h1 class="page-title"><span class="page-title-firstword">Preview of</span> <%= @event.name %></h1>
<div class="two-columns">

  <section class="box">
    <h2 class="box-title box-noborder">Organizer Details</h2>
    <p class="border">Not shown to the public.</p>
    <div class="detail-pair">
      <strong>Name</strong>
      <%= @event.organizer_name %>
    </div>
    <div class="detail-pair">
      <strong>Email</strong>
      <%= @event.organizer_email %>
    </div>
  </section>

  <%= render :partial => "events/event" %>

  <%= form_for @event, url: events_path do |f| %>
    <%= f.hidden_field :name %>
    <%= f.hidden_field :logo %>
    <%= f.hidden_field :start_date %>
    <%= f.hidden_field :end_date %>
    <%= f.hidden_field :description %>
    <%= f.hidden_field :organizer_name %>
    <%= f.hidden_field :organizer_email %>
    <%= f.hidden_field :organizer_email_confirmation %>
    <%= f.hidden_field :twitter_handle %>
    <%= f.hidden_field :website %>
    <%= f.hidden_field :code_of_conduct %>
    <%= f.hidden_field :city %>
    <%= f.hidden_field :country %>
    <%= f.hidden_field :state_province %>
    <%= f.hidden_field :applicant_directions %>
    <%= f.hidden_field :deadline %>
    <%= f.hidden_field :number_of_tickets %>
    <%= f.hidden_field :ticket_funded %>
    <%= f.hidden_field :accommodation_funded %>
    <%= f.hidden_field :travel_funded %>
    <%= f.hidden_field :application_link %>
    <%= f.hidden_field :application_process %>
    <%= f.hidden_field :data_protection_confirmation %>
    <% @event.tags.map(&:id).each do |id| %>
      <%= hidden_field_tag "event[tag_ids][]", id %>
    <% end %>

    <div class="form_field">
      <a class="btn btn-edit" href="javascript:history.back()">Edit event</a>
      <%= f.submit "Save your event", :class => "btn btn-save" %>
    </div>
  <% end %>
</div>
