<h1>This is a preview for <%= @event.name %></h1>

<h3>Organizer Details</h3>
<p class="description">(Not shown to the public.)<p>
<p>
  <strong>Organizer Name:</strong>
  <%= @event.organizer_name %>
</p>
<p>
  <strong>Organizer Email:</strong>
  <%= @event.organizer_email %>
</p>

<%= render :partial => "events/event" %>

<%= form_for @event, url: events_path do |f| %>
  <%= f.hidden_field :name %>
  <%= f.hidden_field :start_date %>
  <%= f.hidden_field :end_date %>
  <%= f.hidden_field :description %>
  <%= f.hidden_field :organizer_name %>
  <%= f.hidden_field :organizer_email %>
  <%= f.hidden_field :organizer_email_confirmation %>
  <%= f.hidden_field :website %>
  <%= f.hidden_field :code_of_conduct %>
  <%= f.hidden_field :city %>
  <%= f.hidden_field :country %>
  <%= f.hidden_field :deadline %>
  <%= f.hidden_field :number_of_tickets %>
  <%= f.hidden_field :ticket_funded %>
  <%= f.hidden_field :accommodation_funded %>
  <%= f.hidden_field :travel_funded %>
  <div class="form_field">
    <a class="button" href="javascript:history.back()">Edit</a>
  <%= f.submit("Submit the event") %>
  </div>
<% end %>

