<p class="breadcrumb">
  <%= link_to 'Home', root_path %> > <%= breadcrumb_link_according_to_user_status %> > <%= @event.name %>
</p>

<h1><span class="conflogo--medium"><%= event_image @event %></span><%= @event.name %></h1>

<div class="two-columns">
  <%= render partial: "events/event" %>

  <% if current_user && (@event.organizer_id == current_user.id || current_user.admin?) %>
    <%= link_to "Edit", edit_event_path(@event), id: @event.id, class: 'btn btn-edit' %>
  <% end %>

  <% if @event.application_process == 'application_by_organizer' %>
    <%= button_to "Apply at #{@event.name}", @event.application_link, method: :get,
        class: "btn btn-save btn-external", disabled: @event.closed? %>
  <% elsif current_user == nil || @event.applications.find_by(applicant_id: current_user.id) == nil %>
    <%= button_to 'Apply', new_event_application_path(params[:id]), method: :get,
        class: "btn btn-save", disabled: @event.closed? %>
  <% else %>
  <% @event.applications.find_by(applicant_id: current_user.id).submitted ? button_text = 'Your Application' : button_text = 'Your Draft'%>
    <%= button_to button_text,
        event_application_path(
        event_id: @event.id,
        id: @event.applications.find_by(applicant_id: current_user.id).id
        ),
        method: :get, class: "btn btn-save" %>
  <% end %>

  <% if @event.closed? %>
    <span class="hint">Sorry, applications for <%= @event.name %> are closed.</span>
  <% end %>
</div>
