<% provide :title, @event.name %>

<% key = breadcrumb_locals_according_to_user_status.keys.first %>
<% value = breadcrumb_locals_according_to_user_status.values.first %>

<%= render partial: "shared/breadcrumbs", locals: Hash[key => value, event: @event, approval_pending: t('.approval_pending')] %>


<h1><span class="conflogo--medium"><%= event_image @event %></span><%= @event.name %></h1>

<div class="two-columns">
  <%= render partial: "events/event" %>

  <% if current_user && (@event.organizer_id == current_user.id || current_user.admin?) %>
    <% if @event.closed? %>
      <section class="box">
        <h2 class="box-title">
          Distributed tickets: <%= @event.approved_tickets %>
        </h2>
        <h5>
          This number displays the actual amount of tickets given out to applicants
          and is only visible for the team of Diversity Tickets for statistical purposes.
        </h5>
        <%= form_for @event, url: event_path(@event), builder: ::FormBuilder do |f| %>
          <%= f.form_field :text_field, :approved_tickets, 'Update final number of approved tickets:' %>
          <%= f.submit("Save", class: "btn btn-save") %>
        <% end %>
      </section>
    <% end %>
    <%= link_to t('.edit'), edit_event_path(@event), id: @event.id, class: 'btn btn-edit' %>
    <%= link_to t('.delete'), delete_event_path(id: @event.id), method: :delete,
        data: { confirm: t('.are-you-sure')}, class: "btn btn-delete" if @event.past?%>
  <% end %>

  <% if @event.application_process == 'application_by_organizer' %>
    <%= button_to t('.apply_at', event_name: @event.name), @event.application_link, method: :get,
        class: "btn btn-save btn-external", disabled: @event.closed? %>
  <% elsif current_user == nil || @event.applications.find_by(applicant_id: current_user.id) == nil %>
    <%= button_to t('.apply_for_ticket'), new_event_application_path(params[:id]), method: :get,
        class: "btn btn-save", disabled: @event.closed? %>
  <% else %>
  <% @event.applications.find_by(applicant_id: current_user.id).submitted ? button_text = t('.your_application') : button_text = t('.your_draft')%>
    <%= button_to button_text,
        event_application_path(
        event_id: @event.id,
        id: @event.applications.find_by(applicant_id: current_user.id).id
        ),
        method: :get, class: "btn btn-save" %>
  <% end %>

  <% if @event.closed? %>
    <span class="hint"><%= t('.applications_closed', event_name: @event.name) %></span>
  <% end %>
</div>
