<p>
  <strong>Organizer Name:</strong>
  <%= @event.organizer_name %>
</p>

<p>
  <strong>Organizer Email:</strong>
  <%= @event.organizer_email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.start_date %>

  <strong>to</strong>
  <%= @event.end_date %>
</p>

<%= link_to 'Apply', new_event_application_path(params[:id]) %>
<%= link_to 'Back', events_path %>