<p class="breadcrumb"><%= link_to 'Home', root_path %> > <%= link_to 'Events', events_path %> > <%= @event.name %></p>

<h1><span class="conflogo--medium"><%= event_image @event %></span><%= @event.name %></h1>

<%= render :partial => "events/event" %>

<% if @event.application_process == 'application_by_organizer' %>
  <%= button_to "Apply at #{@event.name}", @event.application_link, class:'btn btn-save btn-external', disabled: @event.closed? %>
<% else %>
  <%= button_to 'Apply', new_event_application_path(params[:id]), class:'btn btn-save', disabled: @event.closed? %>
<% end %>

<% if @event.closed? %>
  <span class="hint">Sorry, applications for <%= @event.name %> are closed.</span>
<% end %>
