<p class="breadcrumb"><%= link_to 'Home', root_path %> > <%= link_to 'Events', events_path %> > <%= @event.name %></p>

<h1><%= @event.name %></h1>

<%= render :partial => "events/event" %>

<% if @event.open? %>
  <% if @event.manage_applications == "listing" %>
    <%= link_to "Apply at #{@event.name}", @event.application_link, class:'btn btn-save btn-external' %><br>
  <% else %>
    <%= link_to 'Apply', new_event_application_path(params[:id]), class:'btn btn-save' %><br>
  <% end %>
<% else %>
  <strong>Sorry, application for <%= @event.name %> is closed.</strong>
<% end %>
