<p class="breadcrumb">
  <%= link_to 'Home', root_path %> >
  <%= link_to 'Your applications', user_applications_path(current_user.id) %> >
  Draft for <%= @event.name %>
</p>

<h1 class="box-title">Draft for <%= @event.name %></h1>

<section class="box">
  <p class="detail-pair">
    <strong>
      <%= t('.attendee_info_1', event_name: @event.name) %>
    </strong>
    <%= @draft.attendee_info_1 %>
  </p>

  <p class="detail-pair">
    <strong><%=t('.attendee_info_2')%></strong>
    <%= @draft.attendee_info_2 %>
  </p>

  <p class="detail-pair">
    <strong><%=t('.name')%></strong>
    <%= @draft.name %>
  </p>

  <p class="detail-pair">
    <strong><%=t('.email')%></strong>
    <%= @draft.email %>
  </p>

  <% if @draft.visa_needed %>
    <p class="detail-pair">
      <strong><%=t('.visa_needed')%></strong>
    </p>
  <% end %>
</section>

<% if @draft.event.open? %>
  <%= form_for @draft, url: submit_draft_path(@event.id, @draft.id), builder: ::FormBuilder do |f| %>

    <% if @draft.errors.any? %>
      <div class="error">
        <p><%= pluralize(@draft.errors.count, "error") %> stopped this application from being saved:</p>
        <ul>
          <% @draft.errors.messages.each do |field, messages| %>
            <li><%= @draft.class.human_attribute_name(field) %> <%= join_messages(messages) %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <section class="box">
      <%= f.form_field :text_field, :email_confirmation, 'Email confirmation' %>
      <div class="form_field--check">
        <%= label_tag do %>
        <%= f.check_box :terms_and_conditions, checked: false %>
        <span class="check-label"><%=t('.agree_terms_and_conditions') %></span>
        <% end %>
        <p id="terms-and-conditions">
          <%= t('.terms_and_conditions_1') %>
        </p>
        <ul>
          <% if @event.ticket_funded? %>
            <li><%= t('.terms_and_conditions_2') %></li>
          <% end %>
          <% if @event.travel_funded? %>
            <li><%= t('.terms_and_conditions_3') %></li>
          <% end %>
          <% if @event.accommodation_funded? %>
            <li><%= t('.terms_and_conditions_4') %></li>
          <% end %>
          <%=raw t('.terms_and_conditions_5') %>
        </ul>
        <% if @event.travel_funded? %>
          <p><%= t('.terms_and_conditions_6') %></p>
        <% end %>
        <p><%= t('.terms_and_conditions_7', event: @event.name, href: link_to(t('.code_of_conduct'), @event.code_of_conduct)).html_safe %></p>
        </div>
      </section>
      <div>
      <%= f.submit(t('.submit_application'), class: "btn btn-save submit_application") %>
      <%= link_to t('.edit'), edit_event_draft_path(@event.id, @draft.id),
          class: "btn btn-edit" %>
      <%= link_to t('.delete'), event_application_path(@event.id, @draft.id),
          class: "btn btn-delete",  method: :delete,
          data: { confirm: t('.are_you_sure') } %>
    </div>
  <% end %>
<% else %>
  <div>
    <%= link_to t('.delete'), event_application_path(@event.id, @draft.id),
        class: "btn btn-delete",  method: :delete,
        data: { confirm: t('.are_you_sure') } %>
  </div>
<% end %>
<p>
  <%= link_to t('.show_event_details'), event_path(@event.id) %>
</p>
