<header class="topbar" role="banner">
  <div class="inner">
    <h1 class="logo">
      <%= link_to(root_path) do %>
        <%= image_tag("DT-logo.svg", alt: t('.logo-image')) %>
        <span class="logo-text"><%= t('.diversity_tickets') %></span>
      <% end %>
    </h1>

    <nav class="navigation" role="navigation" id="navigation">
      <ul class="top-menu">
        <li><%= navbar_link_to t('.events'), events_path %></li>
        <li><%= navbar_link_to t('.submit_event'), new_event_path %></li>
        <li><%= navbar_link_to t('.about'), about_path %></li>
        <li><%= navbar_link_to t('.faq'), faq_path %></li>
        <li class="flex-grow"></li>
        <% if signed_in? %>
          <li id="dropdown" class="dropdown" onclick="toggleDropdown()">
            <span class="dropdown__label"><%= t('.your_account') %>
              <i class="icon-user-circle"></i>
            </span>
            <ul class="dropdown__content">
              <% if admin_user? %>
                <li class="dropdown__item"><%= navbar_link_to t('.admin'), admin_path %></li>
                <li class="dropdown__item"><%= navbar_link_to t('.tags'), tags_path %></li>
              <% end %>
              <li class="dropdown__item"><%= navbar_link_to t('.your_events'), user_path(current_user) %></li>
              <li class="dropdown__item"><%= navbar_link_to t('.your_applications'), user_applications_path(current_user) %></li>
              <li class="dropdown__item"><%= navbar_link_to t('.account_settings'), edit_user_path(current_user) %></li>
              <li class="dropdown__item"><%= link_to t('.sign_out'), sign_out_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to t('.sign_in'), sign_in_path %></li>
        <% end %>
      </ul>
    </nav>

    <div class="menu-button" onclick="toggleMenu(this)">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>

    <div class="language-picker" id="languagePicker" onclick="toggleLanguagePicker()">
      <span class="language-picker_label">
        <%= I18n.locale.upcase %>
        <i class="language-picker_icon icon-sort-down-black"></i>
      </span>
      <ul class="language-picker_content">
        <% I18n.available_locales.each do |language| %>
          <li class="language-picker_dropdown-item">
            <%= link_to language.upcase, {locale: language} unless I18n.locale == language %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</header>
