<header class="topbar" role="banner">
  <div class="inner">
    <h1 class="logo">
      <%= link_to(root_path) do %>
        <%= image_tag("DT-logo.svg", alt: t('.logo-image')) %>
        <span class="logo-text"><%= t('.diversity_tickets') %></span>
      <% end %>
    </h1>
    <nav class="navigation" role="navigation">
      <ul>
        <li><%= navbar_link_to t('.events'), events_path %></li>
        <li><%= navbar_link_to t('.submit_event'), new_event_path %></li>
        <li><%= navbar_link_to t('.about'), about_path %></li>
        <li><%= navbar_link_to t('.faq'), faq_path %></li>
        <li class="flex-grow"></li>
        <% if signed_in? %>
          <li id="dropdown" class="dropdown">
            <span id="account-menu" class="dropdown-label"><%= t('.your_account') %><i class="icon-user-circle"></i></span>
            <ul class="dropdown-content account-menu-content">
              <% if admin_user? %>
                <li class="dropdown-item"><%= navbar_link_to t('.admin'), admin_path %></li>
                <li class="dropdown-item"><%= navbar_link_to t('.tags'), tags_path %></li>
              <% end %>
              <li class="dropdown-item"><%= navbar_link_to t('.your_events'), user_path(current_user) %></li>
              <li class="dropdown-item"><%= navbar_link_to t('.your_applications'), user_applications_path(current_user) %></li>
              <li class="dropdown-item"><%= navbar_link_to t('.account_settings'), edit_user_path(current_user) %></li>
              <li class="dropdown-item"><%= link_to t('.sign_out'), sign_out_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to t('.sign_in'), sign_in_path %></li>
        <% end %>
        <li id="language-picker" class="dropdown">
          <span class="dropdown-label" id="language-picker-btn">
            <%= I18n.locale.upcase %>
            <i class="icon-sort-down-black" id="icon-language"></i>
          </span>
          <ul class="dropdown-content language-picker-content">
            <% I18n.available_locales.each do |language| %>
              <li class="dropdown-item"><%= link_to language.upcase, {locale: language} unless I18n.locale == language %></li>
            <% end %>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>
