<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>DiversityTickets</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %> <%= action_name.pluralize %>">
  <header class="topbar" role="banner">
    <div class="inner">
      <h1 class="logo"><%= link_to(image_tag("DT-logo.svg", :alt => "Logo"), root_path)%><%= link_to 'Diversity Tickets', root_path %></h1>
      <nav class="navigation" role="navigation">
        <ul>
          <li><%= navbar_link_to 'Events', events_path %></li>
          <li><%= navbar_link_to 'Submit Event', new_event_path, (signed_in? ? [] : ["signed_out"]) %></li>
          <li><%= navbar_link_to 'About', about_path %></li>
          <li><%= navbar_link_to 'FAQ', faq_path %></li>
          <% if signed_in? %>
            <% if admin_user? %>
              <li><%= navbar_link_to 'Admin', admin_path %></li>
            <% end %>
            <li><%= navbar_link_to 'Edit profile', edit_user_path(current_user) %></li>
            <li><%= link_to 'Sign out', sign_out_path, method: :delete %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </header>

  <div class="popup">
    <div class="popup-inner">
      <h3 class="popup-header">You're not signed in!</h3>
      <p class="popup-text">Sign into your existing account<br> or create a new one to submit events.</p>
      <button class="popup-close" title="Close popup" type="button">close</button>
      <%= link_to 'Sign into account', sign_in_path, class: "btn btn-signin", title: "Sign into an existing account" %>
      <%= link_to 'Create new account', sign_up_path, class: "btn btn-signup", title: "Create a new account" %>
    </div>
  </div>

  <main class="content">

    <div class="flashes">
      <% flash.each do |name, msg| -%>
      <div class="inner">
        <%= content_tag :div, msg, class: name %>
      </div>
      <% end -%>
    </div>
    <div class="inner">
      <%= yield %>
    </div>
  </main>

  <footer class="footer">
    <div class="inner">
      <ul>
        <li><%= image_tag("icon-heart.svg", :alt => "heart-icon") %><p>Proudly built by <%= link_to 'RubyMonstas', 'http://rubymonstas.org', :target => "_blank" %><br>Supported by <%= link_to 'Travis Foundation', 'http://foundation.travis-ci.org', :target => "_blank" %></p></li>
        <li><%= image_tag("icon-legal.svg", :alt => "legal-icon") %><p>Checkout the code on <%= link_to 'GitHub', 'https://github.com/rubymonsters/diversity_ticketing/', :target => "_blank" %><br>Legal <%= link_to 'impressum here', 'http://foundation.travis-ci.org/imprint/', :target => "_blank" %></p></li>
      </ul>
    </div>
  </footer>
</body>
</html>
