<!DOCTYPE html>
<html>
<head>
  <title>DiversityTicketing</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="topbar">
    <h1><%= link_to 'Diversity Ticketing', root_path %></h1>
    <div class="navigation">
      <ul>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Events', events_path %></li>
        <li><%= link_to 'Submit Event', new_event_path, class: 'button' %></li>
      </ul>
    </div>
  </div>

 	<% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: name %>
  <% end -%>
  <div class="content">
  <%= yield %>
  </div>
</body>
</html>
