<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>DiversityTickets</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render partial: "layouts/open_graph_tags" %>
</head>
<body class="<%= controller.controller_name %> <%= action_name.pluralize %>">

  <%= render partial: "layouts/header" %>

  <main class="content">

    <div class="flashes">
      <% flash.each do |name, msg| -%>
      <div class="inner">
        <%= content_tag :div, msg, class: name %>
      </div>
      <% end -%>
    </div>
    <div class="inner">
      <%= yield %>
    </div>
  </main>

  <footer class="footer">
    <div class="inner">
      <ul>
        <li><%= image_tag("icon-heart.svg", :alt => "heart-icon") %><p><%= t('.proudly_built') %><%= link_to 'RubyMonstas', 'http://rubymonstas.org', :target => "_blank" %> <%= t('.supported_by') %><%= link_to 'Travis Foundation', 'http://foundation.travis-ci.org', :target => "_blank" %></p></li>
        <li><%= image_tag("icon-legal.svg", :alt => "legal-icon") %><p><%= t('.check_out_the_code') %><%= link_to 'GitHub', 'https://github.com/rubymonsters/diversity_ticketing/', :target => "_blank" %><br><%= t('.legal') %><%=  link_to t('.impressum'), impressum_path, :target => "_blank" %>; <%= link_to t('.privacy_policy'), privacy_path %></p></li>
        <li id="bmbf-logo"><%= image_tag("BMBF_gefoerdert_2017.jpg", :alt => "bmbf-logo") %>
      </ul>
    </div>
  </footer>

</body>
</html>
